<svelte:head>
  <title>Page not found 404</title>
</svelte:head>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-col text-center">
    <h1 class="text-2xl text-center">We couldn't find the page you are looking for...</h1>
    <a href="/" class="text-lg my-20 bg-red-800 text-white rounded px-6 py-2 w-full md:w-1/3 lg:w-1/4 mx-auto">Main Page</a>
  </div>
</section>





<script lang="ts">
  export let status: number;
  export let error: Error;

  const dev = process.env.NODE_ENV === 'development';
</script>

<style lang="postcss">

</style>
