
<div class="flex flex-col justify-between">

  <Nav {segment} />
  
  <main class="pt-20 pb-12">
    <slot />
  </main>
  
  <Footer />
</div>

<script lang="ts">
  import Nav from '../components/Nav.svelte';
  import Footer from '../components/Footer.svelte';

  export let segment: string;
</script>

<style lang="postcss">
</style>
