<svelte:head>
  <title>About | Iva Polishers</title>
</svelte:head>

<PageTransition>
  <div
    class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-12 lg:px-8 lg:py-20"
  >
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <div>
        <p
          class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-red-800 uppercase rounded-full"
        >
          IVA Polishers
        </p>
      </div>
      <h2
        class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto"
      >
        <span class="relative inline-block">
          <div class="text-red-800">
            <svg
              viewBox="0 0 52 24"
              fill="currentColor"
              class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block"
            >
              <defs>
                <pattern
                  id="2feffae2-9edf-414e-ab8c-f0e6396a0fc1"
                  x="0"
                  y="0"
                  width=".135"
                  height=".30"
                >
                  <circle cx="1" cy="1" r=".7" />
                </pattern>
              </defs>
              <rect
                fill="url(#2feffae2-9edf-414e-ab8c-f0e6396a0fc1)"
                width="52"
                height="24"
              />
            </svg>
          </div>
          <!-- <span class="relative">The</span> -->
        </span>
        Magic Repair and French Polishers company
      </h2>
      <p class="text-base text-gray-700 md:text-lg">
        We are specialised in restoring surfaces and snagging in wood,
        laminates, stone and more. Our specialists can repair everything, any
        kind of damages with very high results and quality.
      </p>
    </div>
    <div class="grid max-w-screen-lg gap-8 lg:grid-cols-2 sm:mx-auto">
      <div class="grid grid-cols-2 gap-5">
        <img
          class="object-cover w-full h-56 col-span-2 rounded shadow-lg"
          src="/projs/Magna_Carta_Park _1.jpg"
          alt=""
        />
        <img
          class="object-cover w-full h-48 rounded shadow-lg"
          src="/employees/7.jpeg"
          alt=""
        />
        <img
          class="object-cover w-full h-48 rounded shadow-lg"
          src="/employees/15.jpeg"
          alt=""
        />
      </div>
      <div class="flex flex-col justify-center">
        <div class="pb-4 mb-4 border-b">
          <h6 class="mb-2 text-lg font-semibold leading-5">
            Founded in 2016 Iva Polishers is one of the top London based hard surfaces
            repair service companies
          </h6>
          <p class="text-base text-gray-900">
            Our first and top priority are to deliver highest quality of
            services to our customers. Our professional team are specialised in
            restoring surfaces and snagging to almost known types of surfaces,
            as : wood and wooden surfaces, laminates, stone, marble, glass
            polishing, metal and aluminium panels respray, all types of windows
            frames, UPVC, plastic and more. Our specialists can repair
            everything at a very high standards. We can help to save your time
            and money instead of replacing the unit.
          </p>
        </div>
        <div class="pb-4 mb-4 border-b">
          <h6 class="mb-2 text-lg font-semibold leading-5">
            Quality control at every step
          </h6>
          <p class="text-base text-gray-900">
            When you call <a
              class="text-red-800 uppercase"
              href={`tel:${$siteData.telephone}`}>IVA Polishers</a
            >, you can expect professionals handling all your snagging and
            repair jobs. For the last {$siteData.exp} years attention to details
            has been our number one priority. Our strict corporate policies ensure
            that not even the tiniest scratch is left without attention.
          </p>
        </div>
        <div>
          <h6 class="mb-2 text-lg font-semibold leading-5">
            COVID-19 safety measures commitment
          </h6>
          <p class="text-base text-gray-900">
            We take safety precautions seriously and take steps to prevent the
            spread of the coronavirus (COVID-19). We are doing everything
            possible to ensure the safety and health of our employees and
            customers.
          </p>
        </div>
      </div>
    </div>
  </div>
  <Team />
  <!-- <FAQ /> -->
</PageTransition>

<script>
  import PageTransition from '../components/PageTransition.svelte';
  import FAQ from '../components/FAQ.svelte';
  import Team from '../components/Team.svelte';
  import { siteData } from '../store';
</script>
