<svelte:head>
  <title>Contact Us | Iva Polishers</title>
</svelte:head>

{#if openModal}
  <div
    transition:fade
    on:click={(e) => closeModal(e)}
    class="overlay bg-black bg-opacity-75 z-50 fixed top-0 left-0 justify-center items-center h-screen w-screen p-8"
    class:hidden={!openModal}
    class:flex={openModal}
  >
    <div class="p-8" transition:scale>
      <div class="bg-white rounded-lg shadow-xl max-w-sm">
        <div
          class="h-64 bg-red-800 flex justify-center items-center rounded-t-lg"
        >
          <div
            class="h-40 w-40 bg-white rounded-full flex justify-center items-center text-center relative"
          >
            <img src="default_logo.svg" alt="" class="absolute top-8 left-2" />
          </div>
        </div>
        <div class="text-red-800">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1440 320"
            class="fill-current"
          >
            <path
              fill="currentColor"
              fill-opacity="1"
              d="M0,64L80,85.3C160,107,320,149,480,154.7C640,160,800,128,960,112C1120,96,1280,
          96,1360,96L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,
          640,0,480,0C320,0,160,0,80,0L0,0Z"
            />
          </svg>
        </div>
        <div class="p-8 -mt-12">
          <p class="font-bold text-center text-4xl text-gray-700">Thank you</p>
          <p class="text-gray-600 text-center mt-5">
            Your message has been sent. We'll get back to you soon!
          </p>
          <div class="flex justify-center mt-6">
            <button
              on:click={closeModalR}
              class="bg-red-800 hover:bg-red-900 text-white font-bold py-2 px-4 rounded"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
{/if}

<PageTransition>
  <section class="text-gray-600 body-font relative">
    <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1
          class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
        >
          Contact Us
        </h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-lg">
          Estimates and design consultations are now being scheduled for {new Date().getFullYear()}.<br
          />Contact us now to schedule your appointment. We will be glad to help
          you!
        </p>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <form
          class="flex flex-wrap -m-2"
          on:submit|preventDefault={sendEnquiry}
        >
          <div class="p-2 w-full md:w-1/2">
            <div class="relative">
              <label for="name" class="leading-7 text-sm text-gray-600"
                >Name</label
              >
              <input
                bind:value={name}
                type="text"
                required
                id="name"
                name="name"
                class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-800 focus:bg-white focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              />
            </div>
          </div>
          <div class="p-2 w-full md:w-1/2">
            <div class="relative">
              <label for="telephone" class="leading-7 text-sm text-gray-600"
                >Telephone</label
              >
              <input
                type="tel"
                use:imask={options}
                bind:value={telephone}
                required
                id="telephone"
                name="telephone"
                class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-800 focus:bg-white focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              />
            </div>
          </div>
          <div class="p-2 w-full">
            <div class="relative">
              <label for="message" class="leading-7 text-sm text-gray-600"
                >Message</label
              >
              <textarea
                bind:value={text_message}
                id="message"
                name="message"
                class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-red-800 focus:bg-white focus:ring-2 focus:ring-red-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
              />
            </div>
          </div>
          <div class="p-2 w-full">
            <button
              type="submit"
              disabled={disabledButton}
              class:disabledClass={disabledButton}
              class:enabledClass={!disabledButton}
              class="flex justify-center text-center w-full mx-auto bg-red-800 border-0 py-2 px-8 focus:outline-none rounded text-lg"
              >Send</button
            >
          </div>
          <div
            class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center"
          >
            <a class="text-red-800" href="mail:info@ivapolishers.co.uk"
              >info@ivapolishers.co.uk</a
            >
            <!-- <p class="leading-normal my-5">
              49 Smith St.
              <br />Saint Cloud, MN 56301
            </p> -->
            <!-- <span class="inline-flex">
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-4 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a class="ml-4 text-gray-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-4 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
              </svg>
            </a>
          </span> -->
          </div>
        </form>
      </div>
    </div>
  </section>
</PageTransition>

<script>
  import PageTransition from '../components/PageTransition.svelte';
  import { scale, fade } from 'svelte/transition';
  import { imask } from 'svelte-imask';

  let name = '';
  let telephone = '';
  let text_message = '';
  let openModal = false;
  let disabledButton = true;

  const options = {
    mask: '+44 0000 0000000',
  };

  const sendEnquiry = async () => {
    const response = await fetch('https://bot.skrymenu.com', {
      method: 'POST',
      headers: {
        Accept: 'application/json',
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        name,
        telephone,
        message: text_message,
        time: new Date().toLocaleString(),
        group: 'ivanicenco',
      }),
    });
    if (response.ok) {
      openModal = true;
    }
  };

  const closeModal = (e) => {
    if (e.target.classList[0] == 'overlay') {
      openModal = false;
      name = '';
      telephone = '';
      text_message = '';
    }
  };
  const closeModalR = () => {
    
      openModal = false;
      name = '';
      telephone = '';
      text_message = '';
    
  };

  $: if(name.length != 0 && telephone.length > 12 ) {
    disabledButton = false;
  } else {
    disabledButton = true;
  }
</script>

<style>
.disabledClass  {
  @apply cursor-not-allowed text-gray-400; 
}
.enabledClass {
  @apply cursor-pointer text-white hover:bg-red-900;
}
</style>
