<svelte:head>
  <title>Gallery | Iva Polishers</title>
</svelte:head>

<PageTransition>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex w-full mb-20 flex-wrap">
        <h1
          class="sm:text-3xl text-2xl font-medium title-font text-red-800 lg:w-1/3 lg:mb-0 mb-4"
        >
          Details make perfection, and perfection is not a detail
        </h1>
        <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">
          It is our goal to be the dominant force in the french polishing and
          restoration industry by bringing a new, unified, professional image to
          our Partners, changing the way the repair industry operates, and the
          way it is perceived in the minds of Property Owners.
        </p>
      </div>
      <div class="flex flex-wrap md:-m-2 -m-1">
        <div class="flex flex-wrap w-full md:w-1/2">
          <div class="md:p-2 p-1 w-1/2">
            <img
              alt="gallery"
              class="w-full object-cover h-full object-center block"
              src="/employees/12.jpeg"
            />
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img
              alt="gallery"
              class="w-full object-cover h-full object-center block"
              src="/work/door_handle_2.jpg"
            />
          </div>
          <h3 class="md:text-2xl text-center w-full p-6 uppercase">
            Magna Carta Park
          </h3>
          <div class="md:p-2 p-1 w-full">
            <img
              alt="gallery"
              class="bg-cover w-full h-full object-cover object-center block"
              src="/projs/Magna_Carta_Park _2.jpg"
            />
          </div>
        </div>
        <div class="flex flex-wrap w-full md:w-1/2">
          <div class="md:p-2 p-1 w-full">
            <img
              alt="gallery"
              class="w-full h-full object-cover object-center block"
              src="/projs/Magna_Carta_Park_4.jpg"
            />
          </div>
          <div class="md:p-2 p-1 w-full">
            <img
              alt="gallery"
              class="w-full object-cover h-full object-center block"
              src="/employees/11.jpeg"
            />
          </div>
        </div>
        <div class="flex flex-col gap-2 w-full md:w-1/2">
          <div class="md:p-2 p-1 w-full">
            <h3 class="md:text-2xl text-center w-full p-6 uppercase">
              One Thames City
            </h3>
            <img
              alt="gallery"
              class="object-cover object-center block"
              src="/projs/one_tower.jpeg"
            />
          </div>
          <div class="md:p-2 p-1 w-full">
            <img
              alt="gallery"
              class="object-cover object-center block"
              src="/projs/one_tower2.jpeg"
            />
          </div>
        </div>

        <div class="flex flex-col gap-2 w-full md:w-1/2">
          <div class="md:p-2 p-1 ">
            <h3 class="md:text-2xl text-center w-full p-6 uppercase">
              York Place, CODA
            </h3>
            <img
              alt="gallery"
              class="object-cover object-center block"
              src="/projs/york3.jpeg"
            />
          </div>
          <div class="md:p-2 p-1 ">
            <img
              alt="gallery"
              class="object-cover object-center block"
              src="/projs/york2.jpeg"
            />
          </div>
          <div class="md:p-2 p-1 w-full">
            <img
              alt="gallery"
              class="object-cover object-center block"
              src="/projs/york1.jpeg"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</PageTransition>

<script>
  import PageTransition from '../components/PageTransition.svelte';
</script>
