<svelte:head>
  <title>IVA Polishers</title>
</svelte:head>

<PageTransition>
  <Hero />
  <Features />
  <Testimonials />
  <Stats />
  <CTA />
</PageTransition>

<script lang="ts">
  import Features from '../components/Features.svelte';
  import Hero from '../components/Hero.svelte';
  import PageTransition from '../components/PageTransition.svelte';
  import Stats from '../components/Stats.svelte';
  import Testimonials from '../components/Testimonials.svelte';
  import CTA from '../components/CTA.svelte';
</script>

<style lang="postcss">
</style>
