<svelte:head>
  <title>Services | Iva Polishers</title>
</svelte:head>

<PageTransition>
  <div
    class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
  >
    <div
      class="flex flex-col w-full mb-6 lg:justify-between lg:flex-row md:mb-8"
    >
      <div class="flex items-center mb-5 md:mb-6 group lg:max-w-xl">
        <a href="/" aria-label="Item" class="mr-3">
          <div
            class="flex items-center justify-center w-16 h-16 rounded-full bg-indigo-50"
          >
            <svg
              class="w-12 h-12 text-red-800"
              stroke="currentColor"
              viewBox="0 0 52 52"
            >
              <polygon
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"
                points="29 13 14 29 25 29 23 39 38 23 27 23"
              />
            </svg>
          </div>
        </a>
        <h2
          class="font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl"
        >
          <span class="inline-block mb-2">Our services</span>
          <div
            class="h-1 ml-auto duration-300 origin-left transform bg-deep-purple-accent-400 scale-x-30 group-hover:scale-x-100"
          />
        </h2>
      </div>
      <p class="text-xl w-full text-gray-700 lg:text-lg lg:max-w-xl">
        Scratches, dents, scorch marks and chips (only but to name a few) are
        all common problems which furniture, windows and walls are prone to.
        Luckily our specialists (using innovative repairing techniques) are very
        adept in restoring these to their previous conditions and better!
      </p>
    </div>
    <div class="grid gap-8 row-gap-5 mb-8 lg:grid-cols-3 lg:row-gap-8">
      {#each services as service, i}
        <div>
          <img
            transition:fade
            class="object-cover w-full h-56 mb-6 rounded shadow-lg md:h-64 xl:h-80 cursor-pointer"
            on:mouseenter={(e) => (service.active = true)}
            on:click={(e) => (service.active = !service.active)}
            on:mouseleave={(e) => (service.active = false)}
            src={service.active ? service.img_lnk_b : service.img_lnk_g}
            alt=""
          />

          <p
            class="mb-2 text-xl font-bold leading-none sm:text-2xl text-center"
          >
            {service.name}
          </p>
          <!-- <p class="text-gray-700">
          {service.details}
        </p> -->
        </div>
      {/each}
    </div>
    <!-- <div class="text-center">
      <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800">
        See more
        <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
          <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
        </svg>
      </a>
    </div> -->
  </div>
</PageTransition>

<script>
  import PageTransition from '../components/PageTransition.svelte';
  import { fade } from 'svelte/transition';
  const services = [
    {
      name: 'Aluminium panels repair',
      details:
        'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.',
      img_lnk_g: '/work/Aluminium_panels_repair_2.jpg',
      img_lnk_b: '/work/Aluminium_panels_repair_1.jpg',
      active: false,
    },
    {
      name: 'Aluminium frames respray',
      details:
        'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.',
      img_lnk_g: '/work/Aluminium_frames_respray_1.jpg',
      img_lnk_b: '/work/Aluminium_frames_respray_2.jpg',
      active: false,
    },
    {
      name: 'Magic repairs',
      details:
        'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.',
      img_lnk_g: '/work/Magic_repairs_2.jpg',
      img_lnk_b: '/work/Magic_repairs_1.jpg',
      active: false,
    },
    {
      name: 'Natural hardwood jobs',
      details:
        'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.',
      img_lnk_g: '/work/Natural_hard_wood_prepared_and_polishied_2.jpg',
      img_lnk_b: '/work/Natural_hard_wood_prepared_and_polishied_1.jpg',
      active: false,
    },
    {
      name: 'Staircase board repair',
      details:
        'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.',
      img_lnk_g: '/work/Staircase_board_repair_2.jpg',
      img_lnk_b: '/work/Staircase_board_repair_1.jpg',
      active: false,
    },
    {
      name: 'Stone floor repair',
      details:
        'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.',
      img_lnk_g: '/work/Stone_floor_repair_2.jpg',
      img_lnk_b: '/work/Stone_floor_repair_1.jpg',
      active: false,
    },
    {
      name: 'Wooden threshold repair',
      details:
        'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.',
      img_lnk_g: '/work/Wooden_threshold_repair_2.jpg',
      img_lnk_b: '/work/Wooden_threshold_repair_1.jpg',
      active: false,
    },
    {
      name: 'Bath unit repair',
      details:
        'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.',
        img_lnk_g: '/work/bath.jpeg',
      img_lnk_b: '/work/bath.jpeg',
      active: false,
    },
    {
      name: 'Floor polishing',
      details:
      'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.',
      img_lnk_g: '/work/floor.jpeg',
      img_lnk_b: '/work/floor.jpeg',
      active: false,
    },
    {
      name: 'Door and door frames repair',
      details:
      'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.',
      img_lnk_g: '/work/door.jpeg',
      img_lnk_b: '/work/door.jpeg',
      active: false,
    },
    {
      name: 'Tiles repair',
      details:
      'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.',
      img_lnk_g: '/work/tiles_2.jpg',
      img_lnk_b: '/work/tiles_1.jpg',
      active: false,
    },
    {
      name: 'Window and window frames repair',
      details:
      'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.',
      img_lnk_g: '/work/window_frame.jpeg',
      img_lnk_b: '/work/window_frame.jpeg',
      active: false,
    },
  ];

  //   – worktop and countertop repairs

  // – kitchen unit and door repairs

  // – powder coated surfaces

  // – panel wall repair

  // – furniture restoration

  // – wooden and laminate floors

  // – window frames repair

  // – protective coating and surfacing
</script>
