{#if openModal}
    <div
      transition:fade
      on:click={(e) => closeModal(e)}
      class="overlay p-2 sm:p-6 md:p-10 lg:p-24 xl:p-28 fixed flex justify-center items-center inset-0 bg-black bg-opacity-75 z-50 cursor-pointer mx-auto"
    >
      <div class="relative mx-auto w-11/12 md:w-4/5">
        <div
          transition:scale
          class="relative container mx-auto max-w-5xl max-h-full rounded-xl shadow-lg overflow-auto bg-white px-4 py-6 md:p-12"
        >
          <div
            on:click={closeModalR}
            class="absolute right-3 top-3 transition duration-300 text-red-800 hover:text-red-900 w-8 h-8 rounded-full border hover:border-red-900 border-red-800 grid place-center"
          >
            <div class="flex flex-col justify-center items-center">
              <span>x</span>
            </div>
          </div>

          <div class="text-beige" transition:fade>
            <h2 class="text-xl mb-4 text-center">
              <span class="uppercase">{name}</span>, thank you for your request.
            </h2>
            <p class="text-base text-center">
              We will call you back <span
                class="text-semibold text-red-800 italic">{telephone}</span
              > !
            </p>
          </div>
        </div>
      </div>
    </div>
  {/if}


<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-3xl text-gray-900">
        Why change the item or unit if we can make it as new for less cost and
        time?
      </h1>
      <p class="leading-relaxed mt-4">
        Our partners enjoy the quality and the results of our work. Some recent
        projects: Nova Victoria, Kings Cross Triplets and at the Waterfront
        Royal, Arsenal Riverside are only the start to excellence and best
        results. We can do any request in short time and highest quality.
      </p>
    </div>
    <form
      on:submit|preventDefault={callBack}
      class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0"
    >
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">
        Request a callback
      </h2>
      <div class="relative mb-4">
        <label for="full-name" class="leading-7 text-sm text-gray-600"
          >Full Name</label
        >
        <input
          type="text"
          bind:value={name}
          required
          id="full-name"
          name="full-name"
          class="w-full uppercase bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
      <div class="relative mb-4">
        <label for="telephone" class="leading-7 text-sm text-gray-600"
          >Telephone</label
        >
        <input
          type="tel"
          required
          use:imask={options}
          bind:value={telephone}
          on:complete={() => (allow = !allow)}
          id="telephone"
          name="telephone"
          class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
      <button
        disabled={!allow}
        type="submit"
        class="text-white bg-red-800 border-0 py-2 px-8 focus:outline-none hover:bg-red-900 rounded text-lg"
        >Send</button
      >
      <p class="text-xs text-gray-500 mt-3">
        We will get back to you as soon as possible
      </p>
    </form>
  </div>
</section>

<script>
  import { imask } from 'svelte-imask';
  import { fade, scale } from 'svelte/transition';

  const options = {
    mask: "+44 0000 0000000",
  };

  let openModal = false;
  let allow = false;
  let name = '';
  let telephone = '';
  const message = 'Suna imediat pe numarul dat!';

  const callBack = async () => {
    const response = await fetch('https://bot.skrymenu.com', {
      method: 'POST',
      headers: {
        Accept: 'application/json',
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        name,
        telephone,
        message,
        time: new Date().toLocaleString(),
        group: 'ivanicenco',
      }),
    });
    if (response.ok) {
      openModal = true;
    }
  };



  const closeModal = (e) => {
    if (e.target.classList[0] == 'overlay') {
      openModal = false;
      telephone = "";
      name = "";
    
    }
  };


  const closeModalR = () => {
    openModal = false;
    telephone = "";
    name = "";
    
  };

</script>
