<div class="max-w-screen-xl mx-auto p-8" id="faq">
  <h2
    class="text-3xl font-extrabold leading-9 border-b-2 border-gray-100 text-gray-900 mb-12"
  >
    FAQs
  </h2>
  <ul class="flex justify-center items-start gap-8 flex-wrap">

    {#each faqs as faq}
    <li class="w-full md:w-2/5">
      <p class="text-lg font-semibold leading-6 text-red-800">
        {faq.quesion}
      </p>
      <div class="mt-2">
        <p class="text-lg leading-6 text-gray-700">
          {faq.answer}
        </p>
      </div>
    </li>
    {/each}
    <!-- <li class="md:w-2/5 w-full">
      <p class="text-lg font-semibold leading-6 text-red-800">
        Why do I need a 6 Star energy rating?
      </p>
      <div class="mt-2">
        <p class="text-lg leading-6 text-gray-700">
          In most Australian states the government requires that all new homes
          and apartments (along with certain types of building extensions) built
          since 2010 be energy rated and achieve a minimum of 6 Stars.
        </p>
      </div>
    </li>
    <li class="md:w-2/5 w-full">
      <p class="text-lg font-semibold leading-6 text-red-800">
        What is the general cost of an energy rating?
      </p>
      <div class="mt-2">
        <p class="text-lg leading-6 text-gray-700">
          Simple energy rating prices vary greatly on the size and type of
          building, generally an energy rating will cost somewhere between $130
          to $700+.
        </p>
      </div>
    </li>
    <li class="md:w-2/5 w-full">
      <p class="text-lg font-semibold leading-6 text-red-800">
        What information do I need to supply for an energy rating to be
        completed??
      </p>
      <div class="mt-2">
        <p class="text-lg leading-6 text-gray-700">
          The information required to complete a full and comprehensive energy
          report are the following final working drawings: Site Plan, Floor
          Plan, Elevations, Sections, Lighting layout and window schedule
          (including sizes of the existing windows).
        </p>
      </div>
    </li>
    <li class="md:w-2/5 w-full">
      <p class="text-lg font-semibold leading-6 text-red-800">
        Does building an extension need an energy rating?
      </p>
      <div class="mt-2">
        <p class="text-lg leading-6 text-gray-700">
          Depended on the size of the extension you are building there is a
          chance that it too will need to be energy rated. It&#x27;s always best
          to check first before going ahead with construction.
        </p>
      </div>
    </li>
    <li class="md:w-2/5 w-full">
      <p class="text-lg font-semibold leading-6 text-red-800">
        What is the general cost of an energy rating?
      </p>
      <div class="mt-2">
        <p class="text-lg leading-6 text-gray-700">
          Depended on the size of the extension you are building there is a
          chance that it too will need to be energy rated. It&#x27;s always best
          to check first before going ahead with construction.
        </p>
      </div>
    </li> -->
  </ul>
</div>

<script>
  export let faqs = [
    {
      quesion: 'What is snagging?',
      answer: `Snagging is an informal expression used within the construction industry in the UK and Ireland. It is used to describe the process of defect identification and resolution.`,
    },
    {
      quesion: 'How do you go about payments?',
      answer: `Depended on the size of the extension you are building there is a
          chance that it too will need to be energy rated. It&#x27;s always best
          to check first before going ahead with construction.`,
    },
  ];
</script>
