<div
  class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
>
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <!-- <div>
        <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
          Brand new
        </p>
      </div> -->
    <h2
      class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto"
    >
      <span class="relative inline-block text-red-800">
        <svg
          viewBox="0 0 52 24"
          fill="currentColor"
          class="absolute top-0 left-0 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block"
        >
          <defs>
            <pattern
              id="fdca20a0-aeb4-4caf-ba1b-4351eee42363"
              x="0"
              y="0"
              width=".135"
              height=".30"
            >
              <circle cx="1" cy="1" r=".7" />
            </pattern>
          </defs>
          <rect
            fill="url(#fdca20a0-aeb4-4caf-ba1b-4351eee42363)"
            width="52"
            height="24"
          />
        </svg>
        <span class="relative text-gray-800 text-2xl"
          >Is it broken? We'll fix it in no time!</span
        >
      </span>
    </h2>
    <p class="text-base text-gray-700 md:text-lg">
      Nothing works without details. They are everything, the baseline of
      quality. We are here to ensure that quality!
    </p>
  </div>
  <div
    class="grid max-w-md gap-8 row-gap-10 sm:mx-auto lg:max-w-full lg:grid-cols-3"
  >
    <div class="flex flex-col sm:flex-row">
      <div class="sm:mr-4">
        <div
          class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-indigo-50 text-red-800"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-10 h-10 fill-current"
            viewBox="0 0 24 24"
            ><path
              d="M21.698 10.658l2.302 1.342-12.002 7-11.998-7 2.301-1.342 9.697 5.658 9.7-5.658zm-9.7 10.657l-9.697-5.658-2.301 1.343 11.998 7 12.002-7-2.302-1.342-9.7 5.657zm12.002-14.315l-12.002-7-11.998 7 11.998 7 12.002-7z"
            /></svg
          >
        </div>
      </div>
      <div>
        <h3 class="mb-2 text-lg font-semibold leading-5">
          There is no magic in magic, it's all in the details
        </h3>
        <p class="mb-3 text-sm text-gray-900">
          We work with a variety of hard surfaces and materials. Our
          professionals with specialised equipment in hands indeed do magic on:
        </p>
        <ul class="mb-4 space-y-3 list-disc list-inside">
          <li class="">Stone</li>
          <li class="">Marble</li>
          <li class="">Ceramic</li>
          <li class="">Wood</li>
          <li class="">Laminate</li>
          <li class="">Metal</li>
          <li class="">Aluminium</li>
          <li class="">Glass</li>
        </ul>
        <a
          href="/our-services"
          aria-label=""
          class="inline-flex items-center font-semibold transition-colors duration-200 text-gray-800 hover:text-red-800"
          >Learn more</a
        >
      </div>
    </div>
    <div class="flex flex-col sm:flex-row">
      <div class="sm:mr-4">
        <div
          class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-indigo-50 text-red-800"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-10 h-10 fill-current"
            viewBox="0 0 24 24"
            ><path
              d="M15.91 13.34l2.636-4.026-.454-.406-3.673 3.099c-.675-.138-1.402.068-1.894.618-.736.823-.665 2.088.159 2.824.824.736 2.088.665 2.824-.159.492-.55.615-1.295.402-1.95zm-3.91-10.646v-2.694h4v2.694c-1.439-.243-2.592-.238-4 0zm8.851 2.064l1.407-1.407 1.414 1.414-1.321 1.321c-.462-.484-.964-.927-1.5-1.328zm-18.851 4.242h8v2h-8v-2zm-2 4h8v2h-8v-2zm3 4h7v2h-7v-2zm21-3c0 5.523-4.477 10-10 10-2.79 0-5.3-1.155-7.111-3h3.28c1.138.631 2.439 1 3.831 1 4.411 0 8-3.589 8-8s-3.589-8-8-8c-1.392 0-2.693.369-3.831 1h-3.28c1.811-1.845 4.321-3 7.111-3 5.523 0 10 4.477 10 10z"
            /></svg
          >
        </div>
      </div>
      <div>
        <h3 class="mb-2 text-lg font-semibold leading-5">
          Time flies. It's up to you to be the navigator
        </h3>
        <p class="mb-3 text-sm text-gray-900">
          We understand that time is critical for you. That's why we make sure
          that the projects are done on schedule without delay and meet your
          strict timeframe.
        </p>
        <ul class="mb-4 -ml-1 space-y-3 list-disc list-inside">
          <li class="">Walls and Panels</li>
          <li class="">Floor</li>
          <li class="">Doors and door frames</li>
          <li class="">Glass and window frames</li>
          <li class="">Furninture</li>
          <li class="">Bath units</li>
          <li class="">Kitchen units</li>
        </ul>
        <a
          href="/our-services"
          aria-label=""
          class="inline-flex items-center font-semibold transition-colors duration-200 text-gray-800 hover:text-red-800"
          >Learn more</a
        >
      </div>
    </div>
    <div class="flex flex-col sm:flex-row">
      <div class="sm:mr-4">
        <div
          class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-indigo-50 text-red-800"
        >
          <svg
            class="w-10 h-10 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill-rule="evenodd"
            clip-rule="evenodd"
            ><path
              d="M16 7h8v17h-24v-24h16v7zm-9 12h-2v4h2v-4zm4 0h-2v4h2v-4zm7 0h-2v4h2v-4zm4-10h-6v8h4v5h2v-13zm-8-7h-12v20h1v-5h10v5h1v-20zm-8 13h-2v-2h2v2zm3 0h-2v-2h2v2zm3 0h-2v-2h2v2zm8-2v2h-2v-2h2zm-14-1h-2v-2h2v2zm3 0h-2v-2h2v2zm3 0h-2v-2h2v2zm6-2h2v2h-2v-2zm-12-1h-2v-2h2v2zm3 0h-2v-2h2v2zm3 0h-2v-2h2v2zm-6-3h-2v-2h2v2zm3 0h-2v-2h2v2zm3 0h-2v-2h2v2z"
            /></svg
          >
        </div>
      </div>
      <div>
        <h3 class="mb-2 text-lg font-semibold leading-5">
          TEAM - together everyone achieves more!
        </h3>
        <p class="mb-3 text-sm text-gray-900">
          IVA Polishers is one of the fastest growing hard surface repair and
          polishing companies in greater London area. We work with:
        </p>
        <ul class="mb-4 -ml-1 space-y-3 list-disc list-inside">
          <li class="">Property Management</li>
          <li class="">Facilities Management</li>
          <li class="">Construction site Management</li>
          <li class="">Contractors</li>
        </ul>
        <a
          href="/gallery"
          aria-label=""
          class="inline-flex items-center font-semibold transition-colors duration-200 text-deep-purple-accent-400 hover:text-deep-purple-800"
          >Learn more</a
        >
      </div>
    </div>
  </div>
</div>
