<div class="relative flex flex-col-reverse py-16 lg:pt-0 lg:flex-col lg:pb-20">
  <div
    id="hero"
    class="inset-y-0 top-0 right-0 z-0 w-full max-w-xl px-4 mx-auto md:px-0 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-7/12 lg:max-w-full lg:absolute xl:px-0"
  >
    <svg
      class="absolute left-0 hidden h-full text-white transform -translate-x-1/2 lg:block"
      viewBox="0 0 100 100"
      fill="currentColor"
      preserveAspectRatio="none slice"
    >
      <path d="M50 0H100L50 100H0L50 0Z" />
    </svg>
    <img
      class="object-cover w-full h-56 rounded shadow-lg lg:rounded-none lg:shadow-none md:h-96 lg:h-full"
      src="1.jpeg"
      alt=""
    />
  </div>
  <div
    class="relative flex flex-col items-start w-full max-w-xl px-4 mx-auto md:px-0 lg:px-8 lg:max-w-screen-xl"
  >
    <div class="mb-16 lg:my-40 lg:w-1/2 lg:pr-5">
      <!-- <p
        class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400"
      >
        IVA Polishers
      </p> -->
      <h2
        class="mb-5 font-sans text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none"
      >
        Polishing to perfection<br />

        {#key actionWord}
          <span
            class="flex items-center h-20 lg:w-1/2 text-4xl mt-2 text-red-800 transform duration-1000"
            in:fade={{ delay: 200, duration: 700 }}
            >
            {actionWord}
          </span>
          <!-- <span
            class="lg:w-1/2 text-4xl mt-4 inline-block text-red-800 transform duration-1000"
            in:fade={{ delay: 1300, duration: 500 }}
            out:fade={{ delay: 300, duration: 300 }}
            >
            {actionWord}
          </span> -->
        {/key}
      </h2>
      <p class="pr-5 my-6 text-lg text-gray-700 md:text-xl">
        we make hard surfaces repair services swift and affordable so you can sign off your projects in time.
      </p>
      <div
        class="flex flex-wrap gap-4 justify-start lg:justify-between items-center w-full"
      >
        <a
          href="/contact"
          class="w-full lg:w-4/5 xl:w-1/2 text-xl inline-flex items-center justify-center px-6 py-4 font-semibold tracking-wide text-white transition duration-500 rounded shadow-md bg-red-800 hover:bg-red-900 focus:shadow-outline focus:outline-none"
        >
          Make an enquiry
        </a>
        <a
          href="/our-services"
          aria-label=""
          class="lg:pr-10 text-lg text-center inline-flex items-center font-semibold text-gray-800 transition-colors duration-200 hover:text-red-800"
          >Learn more</a
        >
      </div>
    </div>
  </div>
</div>

<script>
  import { tick } from 'svelte';
  import { fade } from 'svelte/transition';
  let actionWord = '';
  const words = [
    'hard wood',
    'aluminium panels',
    'ceramic tiles',
    'stone floor',
    'glass',
  ];

  let i = -1;

  (async function func() {
    i = (i + 1) % words.length;
    await tick();
    actionWord = words[i];
    setTimeout(func, 3000);
  })();
</script>
