<nav class="bg-white shadow top-0 left-0 fixed w-full z-40">
  <div class="container mx-auto px-4 md:px-0">
    <div class="flex items-center justify-between h-16">
      <div class="w-full justify-between flex items-center">
        <a class="flex-shrink-0" href="/">
          <img class="h-16 w-16" src="default_logo.svg" alt="IVA Polishers" />
        </a>
        <div class="hidden md:block">
          <ul class="ml-6 lg:ml-10 flex items-baseline lg:space-x-2 ">
            <li>
              <a
                href="/#hero"
                class={`${
                  segment === undefined
                    ? 'text-red-800 border-red-800'
                    : 'text-gray-600'
                } hover:text-red-800 border-b-4 border-transparent hover:border-red-800 px-3 py-5 text-lg font-medium transition duration-500`}
              >
                Home
              </a>
            </li>
            {#each links.slice(1) as link}
              <li>
                <a
                  href={link.hrf}
                  class={`${
                    segment == link.hrf.substring(1)
                      ? 'text-red-800 border-red-800'
                      : 'text-gray-600'
                  } hover:text-red-800 border-b-4 border-transparent hover:border-red-800 px-3 py-5 text-lg font-medium transition duration-500`}
                >
                  {link.name}
                </a>
              </li>
            {/each}
            <li class="hidden md:block flex-grow lg:flex-1">
              <a
                href={`tel:${$siteData.telephone}`}
                class="ml-4 transition duration-500 px-4 hover:bg-red-800 text-red-800 border-2 border-red-800 hover:text-white py-2 rounded-full text-base  lg:text-lg font-semibold inline-block"
              >
                {$siteData.telephone}
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="-mr-2 flex md:hidden">
        <button
          on:click={() => (showMobileMenu = !showMobileMenu)}
          aria-label="Mobile"
          class="text-gray-800 hover:text-red-800 inline-flex items-center justify-center p-2 rounded-md focus:outline-none"
        >
          <svg
            width="20"
            height="20"
            fill="currentColor"
            class="h-8 w-8"
            viewBox="0 0 1792 1792"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  {#if showMobileMenu}
    <div
      class="md:hidden"
      in:fly={{ y: -50, duration: 250, delay: 300 }}
      out:fly={{ y: -50, duration: 250 }}
    >
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        {#each links as link}
          <a
            on:click={() => (showMobileMenu = false)}
            class={`${
              segment == link.hrf.substring(1)
                ? 'text-red-800 border-red-800'
                : 'text-gray-600'
            }hover:text-red-800 border-b-2 border-transparent block px-3 py-2 text-lg font-semibold text-center`}
            href={link.hrf}
          >
            {link.name}
          </a>
        {/each}
        <a
          href={`tel:${$siteData.telephone}`}
          class="block my-4 text-center transition duration-500 px-4 hover:bg-red-800 text-red-800 border-2 border-red-800 hover:text-white py-2 rounded-full text-lg font-semibold"
        >
          {$siteData.telephone}
        </a>
      </div>
    </div>
  {/if}
</nav>

<script>
  import { siteData } from '../store';
  import { fly } from 'svelte/transition';
  export let segment;

  let showMobileMenu = false;

  const links = [
    {
      name: 'Home',
      hrf: '/',
    },
    {
      name: 'Services',
      hrf: '/our-services',
    },
    {
      name: 'Gallery',
      hrf: '/gallery',
    },
    {
      name: 'About',
      hrf: '/about',
    },
    {
      name: 'Contact',
      hrf: '/contact',
    },
  ];
</script>

<style lang="postcss">
</style>
