<div in:fade={{ delay: 900, duration:  400}} out:fade={{ delay: 600 , duration: 300}} class="container px-5 mx-auto">
  <slot />
</div>

<script>
  import { fade } from 'svelte/transition';
</script>
