<section class="text-gray-600 body-font border-t-2 border-b-2 border-red-800">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-wrap -m-4 text-center">
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">
          {$siteData.exp}
        </h2>
        <p class="leading-relaxed">Years in business</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">
          1.8K
        </h2>
        <p class="leading-relaxed">Jobs</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">
          42
        </h2>
        <p class="leading-relaxed">Partners</p>
      </div>
      <div class="p-4 sm:w-1/4 w-1/2">
        <h2 class="title-font font-medium sm:text-4xl text-3xl text-gray-900">
          24/7
        </h2>
        <p class="leading-relaxed">Availability</p>
      </div>
    </div>
  </div>
</section>

<script>
import { siteData } from "../store";



</script>
